.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  padding: 1em;
  color: white;
  margin-bottom: 1em;
}

.App-title {
  font-size: 1.5em;
}

footer {
  position: absolute;
  min-height: 100%;
  min-height: -webkit-calc(100% - 186px);
  min-height: -moz-calc(100% - 186px);
  min-height: calc(100% - 186px);
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 90%;
  color: rgb(54, 54, 54);
}
/* .container {
  padding: 10px, black;
  grid-column-gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
}

.picture-wrapper {
  border: black;
  display: inline-block;
  padding: 20px;
  background-color: white;
} */



